*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #272727;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #505050; 
}

::-webkit-scrollbar-thumb {
    background: #cfff00; 
}
/* Navbar */

#navbar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom:2px solid #cfff00;;
    z-index: 1;
    width: 100%;
    height: 10vh;
    top: 0;
}

.logo{
    width: 45vw;
    height: 3rem;
    margin: auto 0;
    font-size: 2rem;
    /* border: 2px solid yellow; */
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 800;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus{
    outline: none;
}

@media screen and (max-width: 767px) {
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger{
        display: block;
    }

    .logo{
        width: 55vw;
        height: 2rem;
        margin: auto 0;
        font-size: 2.1vh;
        /* border: 2px solid yellow; */
    }
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    margin-right: 2vw;
}

.menu-btn_burger{
    width: 0px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255, 101, 47, .2); */
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-8px);
}

.menu-btn_burger::after{
    transform: translateY(8px);
}

/* Animation  */
.menu-btn.open .menu-btn_burger{
    transform: translatex(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

#driverstitle{
    margin-top: 13vh;
    text-align: center;
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px 5px #cfff00;
    margin-bottom: 5vh;
}


/* 1st */

#first{
    /* border: solid; */
    text-align: center;
    font-size: 3vw;
    height: 4vw;
    width: 100%;
    color: gold;
}

.driver1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcontain1{
    width: 100%;
    height: 15vw;
    margin: 0 50%;
    /* border: 2px solid; */
}

.driver1 img{
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
}

.driver1 p{
    font-size: 2vw;
    width: 25%;
    margin: 0 25%;
    text-align: center;
    /* border: 2px solid white; */
    color: white;
}

/* 2nd and 3rd */

.headcontain{
    display: flex;
    text-align: center;
    margin-top: 10px;
}

#snd{
    /* border: solid; */
    width: 50%;
    font-size: 2.5vw;
    height: 2.5vw;
    color: silver;
}

#thr{
    /* border: solid; */
    width: 50%;
    font-size: 2.5vw;
    height: 2.5vw;
    color: rgb(165, 97, 42);
}

.driver{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.smallspacer{
    width: 17.5%;
}

.bigspacer{
    width: 35%;
}

.imgcontain{
    height: 15vw;
    width: 15vw;
    /* border: 2px solid white; */
}

.imgcontain img{
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
}

.textcon{
    /* border: solid 2px yellow; */
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 75px;
    margin-top: 15px;
}

.fsttxt{
    color: white;
    /* border: solid 2px green; */
    width: 50%;
}

.sndtxt{
    color: white;
    /* border: solid 2px red; */
    width: 50%;
}

/* Rest of list */

.headcontain2{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

#snd2{
    /* border: solid; */
    width: 50%;
    font-size: 2vw;
    height: 2.5vw;
    color: white;
}

#thr2{
    /* border: solid; */
    width: 50%;
    font-size: 2vw;
    height: 2.5vw;
    color: white;
}

.textcon2{
    /* border: solid 2px yellow; */
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 75px;
    margin-top: 15px;
}

.fsttxt2{
    color: white;
    /* border: solid 2px green; */
    width: 50%;
}

.sndtxt2{
    color: white;
    /* border: solid 2px red; */
    width: 50%;
}

#last{
    /* border: solid; */
    text-align: center;
    font-size: 2vw;
    height: 4vw;
    width: 100%;
    color: white;
}

.imgcontain2{
    width: 100%;
    height: 15vw;
    margin: 0 50% 25px;
    /* border: 2px solid; */
}

.driver2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.driver2 img{
    height: 15vw;
    width: 15vw;
    border-radius: 10px;
}

.driver2 p{
    font-size: 1.5vw;
    width: 25%;
    margin: 0 25%;
    text-align: center;
    /* border: 2px solid white; */
    color: white;
}












/* Footer */

.footer{
    display: flex;
    width: 100%;
    /* border: solid 2px aqua; */
    height: 4vw;
    flex-direction: row;
    background-color: black;
    border-top: solid 2px #cfff00;
}

.footlist{
    list-style: none;
    width: 100%;
    /* border: solid 2px darkkhaki; */
    text-align: center;
}

.footlist li{
    /* border: solid 2px seagreen; */
    display: inline-block;
    margin: 1vw 3vw;
    font-size: 1vw;
    font-weight: 800;
    border-bottom: solid 2px #cfff00;
    padding: 0 5px 1px 5px;
    color: white;
}

.footlist a{
    text-decoration:none;
    color: white;
}

@media screen and (max-width: 767px) {

    /* 1st */

    #first{
        font-size: 7vw;
        height: 10vw;
    }

    .imgcontain1{
        height: 30vw;
        margin-bottom: 10px;
    }
    
    .driver1 img{
        height: 30vw;
        width: 30vw;
    }
    
    .driver1 p{
        font-size: 3vw;
    }


    /* 2nd and 3rd */

    #snd{
        font-size: 4vw;
        height: 4vw;

    }
    
    #thr{
        font-size: 4vw;
        height: 4vw;
    }


    .imgcontain img{
        height: 25vw;
        width: 25vw;
        border-radius: 10px;
    }

    .imgcontain{
        height: 25vw;
        width: 25vw;
        /* border: 2px solid white; */
    }

    .smallspacer{
        width: 13%;
    }
    
    .bigspacer{
        width: 25%;
    }

    .textcon{
        font-size: 3vw;
        margin-bottom: 20px;
    }

    .textcon2{
        font-size: 3vw;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    #snd2{
        font-size: 3vw;
        height: 3vw;
    }
    
    #thr2{
        font-size: 3vw;
        height: 3vw;
    }

    /* Last */

    #last{
        font-size: 3vw;
        height: 4vw;
    }
    
    .imgcontain2{
        height: 25vw;
        margin-bottom: 15px;
        margin-top: 10px;
    } 
    .driver2 img{
        height: 25vw;
        width: 25vw;
    }
    
    .driver2 p{
        font-size: 3vw;
        width: 25%;
    }

}